{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="alert alert-success" role="alert">
            L'enregistrement a été validé !
        </div>
    </div>
{% endblock %}